@font-face {
    font-family: 'Altone';
    src: url('../../../../public/fonts/Altone\ Trial-Bold.ttf');
}

@font-face { 
    font-family: 'Altone Regular';
    src: url('../../../../public/fonts/Altone\ Trial-Regular.ttf');
}
@font-face {
    font-family: 'Tommy';
    src: url('../../../../public/fonts/Champagne\ &\ Limousines.ttf');
}
*{
    overflow-x: hidden;
    font-family: 'Arial';
}

body{
    width: 100vw;
    height: 95vh;
    background-color: #f8f8f8;
}

.background__container__title{
    width: 100vw;
    height: 42vh;
    background-color: white;
    background-image: url('../../../../public/images/background_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -65vh;
    

}

.container__title{
    width: 120vw;
    height: 42vh;
    backdrop-filter: blur(2px);
    position: relative;
    right: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__title{
    font-family: 'Altone';
    font-size: 72px;
    color: #011126;
}

.subtext{
    font-family: 'Altone';
    font-size: 25px;
    color: #011126;
}

.subtitle__discover{
    font-family: 'Altone';
    font-size: 30px;
    color: #85D932;

}

.title__product{
    font-family: 'Altone';
    font-size: 24px;
    color: #011126;
    text-align: center;
}
.subtitle__product{
    font-size: 20px;
}

span{
    font-family: 'Altone';
}

.container__products__title{
    height: 15vh;
    padding: 5vh;
}
.background__container__products{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;

}

.container__products{
    width: 65vw;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}

.container__product{
    width: 100%;
    height: 48vh;
    background-color: white;
    margin: 1vh;
    border-radius: 10px;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image__product{
    margin: 1vh;
    object-fit: contain;
    position: relative;
    bottom: 6vh;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.button__product{
    margin-top: 4vh;
    font-family: 'Altone';
    font-size: 20px;
    color: white;
    background-color: #B9F263;
    width: 35vh;
    height: 4vh;
    border-radius: 5vh;
}

.button__product:hover{
    background-color: #85D932;
}

/* Estilizando a scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); /* Fundo da scrollbar (track) */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Cor da parte que pode ser arrastada (thumb) */
    border-radius: 6px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* Cor ao passar o mouse */
}