@font-face {
    font-family: 'Altone';
    src: url('../../../../public/fonts/Altone\ Trial-Bold.ttf');
}

@font-face { 
    font-family: 'Altone Regular';
    src: url('../../../../public/fonts/Altone\ Trial-Regular.ttf');
}
@font-face {
    font-family: 'Tommy';
    src: url('../../../../public/fonts/Champagne\ &\ Limousines.ttf');
}
*{
    overflow-x: hidden;
    font-family: 'Arial';
}

body{
    width: 100vw;
    height: 95vh;
    background-color: #f8f8f8;
}

.background__container__title{
    width: 100vw;
    height: 42vh;
    background-color: white;
    background-image: url('../../../../public/images/background_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -65vh;
    

}

.container__title{
    width: 120vw;
    height: 42vh;
    backdrop-filter: blur(2px);
    position: relative;
    right: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__title{
    font-family: 'Altone';
    font-size: 80px;
    color: #011126;
}

.subtext{
    font-family: 'Altone';
    font-size: 25px;
    color: #0111265e;
}

.subtitle__discover{
    font-family: 'Altone';
    font-size: 30px;
    color: #85D932;

}

.title__product{
    font-family: 'Altone';
    font-size: 26px;
    color: #011126;
    text-align: center;
}
.subtitle__product{
    gap: 10vh;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 24px;
    color: #011126;
}

.category__product{
    font-family: 'Altone Regular';
    font-size: 22px;
    color: #011126;
}

.container__products__title{
    height: 20vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background__container__products{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;

}

.container__products{
    width: 65vw;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}

.container__product{
    width: 100%;
    height: 40vh;
    background-color: white;
    margin: 1vh;
    border-radius: 20px;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description__products{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25vh;
}

.image__product{
    margin: 1vh;
    position: relative;
    object-fit: contain;
    bottom: 1vh;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.button__product{
    font-family: 'Altone';
    font-size: 20px;
    background-image: url('/images/carrinho_verde.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.button__product:hover{
    background-image: url('/images/carrinho_verde2.svg');
}


::-webkit-scrollbar {
    width: 10px;
    background: transparent !important; 
}


::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}